<div class="show-thumb" >
    <div class="show-thumb-header">
        <div class="show-thumb-header-title">
            <button mat-button (click)="onChangeShowLabel()" color="accent">
                <i>{{show.label}}</i>
            </button>
        </div>
        <span class="toolbar-spacer"></span>



        <div class="toolbar-spacer-separator">-</div>   

        <div >
            <button mat-icon-button (click)="remove()" matTooltip="Delete Show">
                <mat-icon  color="warn">delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="show-thumb-content">
        <div class="show-thumb-content-row">
            <div class="title show-thumb-content-row-title">
                Sequences
                <span class="toolbar-spacer"></span>
                <button mat-button (click)="addSequence()" color="accent">
                    Add Sequence
                </button>
                <button mat-button (click)="addSequenceDelay()" color="accent">
                    Add Delay
                </button>
            </div>
            <div class="show-thumb-content-items" >
                <div cdkDropList cdkDropListOrientation="horizontal" class="drop-list" [cdkDropListData]="show.sequences"  (cdkDropListDropped)="onDropSequence($event)">
                    <div *ngFor="let item of show.sequences" cdkDrag class="item-thumb" >
                        <div class="item-thumb-header">
                            <div class="item-thumb-header-title">
                                <b>{{item.label}}</b>
                            </div>
                            <div class="toolbar-spacer-separator"></div>   
                            <button class="item-thumb-header-button-delete" mat-icon-button (click)="removeSequence( item )" matTooltip="Delete Show">
                                <mat-icon  color="warn">delete</mat-icon>
                            </button>
                        </div>
                        <div class="item-thumb-content">
                            <div class="item-thumb-content-row">
                                <div class="item-thumb-content-row-title">
                                    Duration
                                </div>
                                <div class="toolbar-spacer-separator"></div>   
                                <button mat-button (click)="onChangeSequenceDuration( item )" color="accent">
                                    <i>{{item.showDuration}} ms</i>
                                </button>
                            </div>
                            <div class="item-thumb-content-row">
                                <div class="item-thumb-content-row-title">
                                    Is Loop
                                </div>
                                <div class="toolbar-spacer-separator"></div>   
                                <mat-checkbox [(ngModel)]="item.showIsLoop"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>   
        <div class="show-thumb-content-row">
            <div class="title show-thumb-content-row-title">
                Effects
                <span class="toolbar-spacer"></span>
                <button mat-button (click)="addEffect()" color="accent">
                    Add Effect
                </button>
                <button mat-button (click)="addEffectDelay()" color="accent">
                    Add Delay
                </button>
            </div>
            <div class="show-thumb-content-items" >
                <div cdkDropList cdkDropListOrientation="horizontal" class="drop-list" [cdkDropListData]="show.effects"  (cdkDropListDropped)="onDropEffect($event)">
                    <div *ngFor="let item of show.effects" cdkDrag class="item-thumb" >
                        <div class="item-thumb-header">
                            <div class="item-thumb-header-title">
                                <b>{{item.label}}</b>
                            </div>
                            <div class="toolbar-spacer-separator"></div>   
                            <button class="item-thumb-header-button-delete" mat-icon-button (click)="removeEffect( item )" matTooltip="Delete Show">
                                <mat-icon  color="warn">delete</mat-icon>
                            </button>
                        </div>
                        <div class="item-thumb-content">
                            <div class="item-thumb-content-row">
                                <div class="item-thumb-content-row-title">
                                    Duration
                                </div>
                                <div class="toolbar-spacer-separator"></div>   
                                <button mat-button (click)="onChangeSequenceDuration( item )" color="accent">
                                    <i>{{item.showDuration}} ms</i>
                                </button>
                            </div>
                            <div class="item-thumb-content-row">
                                <div class="item-thumb-content-row-title">
                                    Is Loop
                                </div>
                                <div class="toolbar-spacer-separator"></div>   
                                <mat-checkbox [(ngModel)]="item.showIsLoop"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>   
    </div>
    <div class="show-thumb-footer">
        <button *ngIf="show.isPlay == false" mat-icon-button (click)="play()" matTooltip="Play">
            <mat-icon  color="normal">play_circle</mat-icon>
        </button>
        <button *ngIf="show.isPlay == true && show.isPause == false" mat-icon-button (click)="pause()" matTooltip="Pause">
            <mat-icon  color="normal">pause_circle</mat-icon>
        </button>
        <button *ngIf="show.isPlay == true && show.isPause == true" mat-icon-button (click)="resume()" matTooltip="Resume">
            <mat-icon  color="normal">not_started</mat-icon>
        </button>
        <button mat-icon-button (click)="stop()" matTooltip="Stop" [disabled]="show.isPlay == false">
            <mat-icon  color="normal">stop_circle</mat-icon>
        </button>
        <br>
        <div class="show-thumb-footer-elapsedTime">
            {{formatElapsedTime()}}
        </div>
    </div>
</div>