/****************************************************
* Show Component
****************************************************/


.show-thumb
{
    width: 99%;
    min-height: 200px;
    background-color: #fdfdfd;
    border-style: solid;
    border-width: thin;
    border-color: #d2d2d2;
    border-radius: 5px;
}

.show-thumb-title
{
    display: flex;
}

.show-thumb-title-icon
{
    margin-right: 5px;
    margin-top: 3px;
}

.show-thumb-title-text
{
    flex: 1;
}

.show-thumb-header
{
    display: flex;
    padding-left: 10px;
    padding-right: 40px;
    background-color: #f7f7f7;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #d2d2d2;
}

.show-thumb-header-title
{
    font-weight: initial;
    font-size: 24px;
}

.show-thumb-header-tools
{
    margin-right: 10px;
}

.show-thumb-content
{
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;
    height: calc(100vh - 310px); 
}

.show-thumb-content-row
{
    height: 50%;
}

.show-thumb-content-row-title
{
    display: flex;
}

.show-thumb-footer
{
    height: 60px;
    background-color: #F9F9F9;
    padding: 10px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #cec8c8;
    text-align: center;
}

.show-thumb-footer-elapsedTime
{
    font-style: italic;
}



.show-thumb-content-items
{
    display: inline-flex;
}

.item-thumb
{
    background-color: #267cdc26;
    border-style: solid;
    border-width: thin;
    border-color: #d2d2d2;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item-thumb-header
{
    display: inline-flex;
}


.item-thumb-header-title
{
    font-style: italic;
}

.item-thumb-header-button-delete
{
    margin-left: 10px;
    margin-top:-8px;
}