<div class="show-thumb" >
    <div class="show-thumb-header">
        <div class="show-thumb-header-title">
            <button mat-button (click)="onChangeShowLabel()" color="accent">
                <i>{{show.label}}</i>
            </button>
        </div>
        <span class="toolbar-spacer"></span>



        <div class="toolbar-spacer-separator">-</div>   

        <div >
            <button mat-icon-button (click)="remove()" matTooltip="Delete Show">
                <mat-icon  color="warn">delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="show-thumb-content">
        <div class="show-thumb-content-row">
            <div class="title show-thumb-content-row-title">
                Sequences
            </div>   
        </div>   
        <div class="show-thumb-content-row">
            <div class="title show-thumb-content-row-title">
                Effects
            </div>   
        </div>   
    </div>
    <div class="show-thumb-footer">
        <button *ngIf="show.isPlay == false" mat-icon-button (click)="play()" matTooltip="Play">
            <mat-icon  color="normal">play_circle</mat-icon>
        </button>
        <button *ngIf="show.isPlay == true && show.isPause == false" mat-icon-button (click)="pause()" matTooltip="Pause">
            <mat-icon  color="normal">pause_circle</mat-icon>
        </button>
        <button *ngIf="show.isPlay == true && show.isPause == true" mat-icon-button (click)="resume()" matTooltip="Resume">
            <mat-icon  color="normal">not_started</mat-icon>
        </button>
        <button mat-icon-button (click)="stop()" matTooltip="Stop" [disabled]="show.isPlay == false">
            <mat-icon  color="normal">stop_circle</mat-icon>
        </button>
        <br>
        <div class="show-thumb-footer-elapsedTime">
            {{formatElapsedTime()}}
        </div>
    </div>
</div>