<mat-toolbar>
    <button mat-icon-button (click)="gotoHome()">
        <mat-icon>home</mat-icon>
    </button>
    <span class="toolbar-title">{{title}} <span *ngIf="appService.is_project == true" >&nbsp; - 
        <button mat-button (click)="onChangeProjectLabel()" color="accent">
            <i>{{appService.project.label}}</i>
        </button>
    </span> </span>
    <button *ngIf="appService.is_project == true" mat-icon-button (click)="save()" matTooltip="Save">
        <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="appService.is_project == true" mat-icon-button (click)="export()" matTooltip="Export">
        <mat-icon>download</mat-icon>
    </button>
    <button *ngIf="appService.is_project == true" mat-icon-button (click)="print()" matTooltip="Print">
        <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button (click)="fileInput.click()" [disabled]="appService.isApplicationReady == false" matTooltip="Open">
        <mat-icon>folder</mat-icon>
    </button>
    <input  style="display: none" (change)="open(true,$event)" accept=".pompette" #fileInput type="file" id="file">
    <button *ngIf="appService.is_project == true" mat-icon-button (click)="close()" matTooltip="Close your project" >
        <mat-icon>close</mat-icon>
    </button>
    
    <span class="toolbar-spacer"></span>
    
    <button color="accent" *ngIf="appService.is_project == false" mat-button (click)="manageBaseFrequency()">
        <i>{{appService.frequency}} Hz</i>
    </button>
    <button color="accent" *ngIf="appService.is_project == true" mat-button (click)="manageProjectFrequency()">
        <i>{{appService.project.frequency}} Hz</i>
    </button>
    <button *ngIf="appService.is_project == true" mat-button (click)="gotoHome()">
        Project
    </button>
    <button *ngIf="appService.isApplicationReady == true" mat-button (click)="gotoFixtures()">
        Fixtures
    </button>
    <button *ngIf="appService.isApplicationReady == true" mat-button (click)="gotoDMXTester()">
        DMX Tester
    </button>
    <button mat-icon-button (click)="blackOut()" matTooltip="Blackout">
        <mat-icon>flash_off</mat-icon>
    </button>
    <button mat-icon-button (click)="monitoring()" matTooltip="Monitoring">
        <mat-icon>monitor_heart</mat-icon>
    </button>
</mat-toolbar>
<router-outlet />
