/****************************************************
* Sequence Fixture Transition Component
****************************************************/


.sequence-fixture-transition-thumb
{
    width: 100%;
    min-height: 200px;
    background-color: #fdfdfd;
    border-style: solid;
    border-width: thin;
    border-color: #d2d2d2;
    border-radius: 5px;
}

.sequence-fixture-transition-thumb-title
{
    display: flex;
}

.sequence-fixture-transition-thumb-title-icon
{
    margin-right: 5px;
    margin-top: 3px;
}

.sequence-fixture-transition-thumb-title-text
{
    flex: 1;
}

.sequence-fixture-transition-thumb-header
{
    display: flex;
    padding-left: 10px;
    background-color: #6ca4fd26;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #d2d2d2;
}

.sequence-fixture-transition-thumb-header-title
{
    font-weight: initial;
    margin-left: 10px;
}

.sequence-fixture-transition-thumb-header-tools
{
    margin-right: 10px;
}

.sequence-fixture-transition-thumb-content
{
    padding: 38px;
}

.sequence-fixture-transition-thumb-content-two-columns
{
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}



.duration-container
{
    display: flex;
    gap:10px;
    margin-top: 36px;
}

.fixture-container
{
    

    display: flex;
    gap:10px;
    padding-right: 30px;

}

.fixture-container-thumb
{
    flex: 1;
}